absl-py
aiohttp
aiosignal
altair
annotated-types
asgiref
astunparse
attrs
beautifulsoup4
blinker
blis
Bottleneck
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cryptography
cycler
cymem
datasets
dill
Django
docx2txt
filelock
Flask
Flask-Cors
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
google-pasta
grpcio
h5py
huggingface-hub
idna
imageio
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
langcodes
language-tool-python
language_data
lazy_loader
libclang
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mkl-fft
mkl-random
ml-dtypes
mnist
mpmath
multidict
multiprocess
munkres
murmurhash
namex
networkx
nltk
numexpr
numpy
opencv-python
opt-einsum
optree
packaging
pafy
pandas
pdfminer3
pillow
plotly
ply
preshed
protobuf
py
pyarrow
pyarrow-hotfix
pycparser
pycryptodome
pydantic
pydantic_core
pydeck
Pygments
PyMySQL
pyparsing
PyQt5
PyQt5-sip
pyresparser
pyrsistent
python-dateutil
python-mnist
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
scikit-image
scikit-learn
scipy
seaborn
setuptools
shellingham
sip
six
smart-open
smmap
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
streamlit
streamlit-tags
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
thinc
threadpoolctl
tifffile
tokenizers
toml
toolz
torch
torchaudio
torchvision
tornado
tqdm
typer
typing_extensions
tzdata
urllib3
wasabi
watchdog
weasel
Werkzeug
wheel
wrapt
xgboost
xxhash
yarl
